<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div th:replace="restorerFragments.html :: menu"></div>

<div class="container">

    <div th:replace="logoFragment.html :: logo"></div>

    <div th:if="${alert}" class="alert alert-primary"  th:text="${alert}"></div>

    <div id="content">

        <form method="post">
        <div class="form-group">
            <label for="formRestaurantNameInput">Nazwa restauracji</label>
            <input type="text" class="form-control" pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ0-9\/#&'\x22*!+-.,\s]{1,30}$"
                   title="Nazwa restauracji może mieć do 30 znaków"
                   id="formRestaurantNameInput" placeholder="Nazwa restauracji"
                   th:field="*{restaurant.name}">
        </div>
        <div class="form-group">
            <label for="formDescriptionInput">Opis restauracji</label>
            <input type="text" class="form-control" id="formDescriptionInput" pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ0-9_@.\/#&*!+-,\s]{5,150}$"
                   title="Opis może mieć maksymalnie 150 znaków"
                   placeholder="Opis restauracji" th:field="*{restaurant.description}">
        </div>
        <div class="form-group">
            <label for="cuisineTypeInput">Rodzaj kuchni</label>
            <input type="text" class="form-control" id="cuisineTypeInput" pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\/#&*!+-.,\s]{3,50}$"
                   title="Rodzaj kuchni może zawierać od 3 do 35 liter."
                   placeholder="Rodzaj kuchni" th:field="*{restaurant.cuisineType}">
        </div>
        <div class="form-group">
            <label for="cityInput">Miasto</label>
            <input type="text" class="form-control" id="cityInput" pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\s]{3,20}$"
                   title="Nazwa miasta musi składać się z 3 do 15 liter."
                   placeholder="Miasto" th:field="*{restaurant.city}">
        </div>
            <div class="form-group">
                <label for="adressInput">Adres</label>
                <input type="text" class="form-control" id="adressInput"
                       pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ0-9\s]{3,15}[A-Za-z0-9_@.#&+\-\s]{0,30}$"
                       placeholder="Adres" th:field="*{restaurant.adress}">
            </div>
        <div class="form-group">
            <label for="placesQuantityInput">Ilość miejsc</label>
            <input type="number" class="form-control" pattern="^[1-9]{1}[0-9]{0,2}$"
                   title="Ilość miejsc musi mieścić się w przedziale od 1 do 999"
                   id="placesQuantityInput" placeholder="Liczba miejsc" th:field="*{restaurant.places}">
        </div>
            <input type="submit" class="btn btn-primary" value="Zatwierdź">
        </form>
    </div>

</div>
<div th:replace="footer.html :: footer"></div>
</body>
</html>