<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{datepicker.css}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<div th:replace="restorerFragments.html :: menu"></div>

<div class="container">

    <div th:replace="logoFragment.html :: logo"></div>

    <div id="content">
        <form method="post">
            <div th:replace="datepicker.html :: blockDatepicker"></div>
            <input type="submit" class="btn btn-danger" value="Zablokuj">
        </form>
    </div>

</div>

<script>
    var date = new Date();
    var now = new Date(date.getYear(), date.getMonth(), date.getDay());
    jQuery.datetimepicker.setLocale('pl')
    $('#datepicker1, #datepicker2').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i', // formatDate
        minDate: moment(),
        hours12: false,
        todayHighlight: true,
        step: 30,
        yearStart: 2020,
        allowTimes: ['12:00', '12:30' , '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00',
        '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30'],
        mask: true,
        lang: 'pl',
        i18n: {
            month: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpien', 'Wrzesien', 'Październik', 'Listopad',
            'Grudzien'],
            dayOfWeek: ['Poniedzialek', 'Wtorek', 'Sroda', 'Czwartek', 'Piatek', 'Sobota', 'Niedziela']
        }
    });
</script>
<div th:replace="footer.html :: footer"></div>
</body>
</html>