<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main2.css" th:href="@{../css/main2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/restaurant.css}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div th:replace="restorerFragments.html :: menu"></div>
<div class="container">


    <div th:replace="logoFragment.html :: logo"></div>

    <div id="content">

        <h3 th:text="${restaurant.name}"></h3>
        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6" th:each="image : ${images}">
                <a th:href="${image.url}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" th:src="${image.url}" alt="">
                    <form th:action="${'/deleteImage/' + image.id}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Usuń">
                    </form>
                </a>
            </div>

        </div>

    </div>
</div>

<div th:replace="footer.html :: footer"></div>
</body>
</html>