<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/restaurant.css}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div th:replace="restorerFragments.html :: menu"></div>


<div class="container">

    <div th:replace="logoFragment.html :: logo"></div>

    <div id="content">

        <div id="accordion">

            <div class="card" th:each="restaurant : ${restaurantPage.content}">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne" th:text="${restaurant.name}" style="color:#000;">
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <span>Kuchnia: </span><span th:text="${restaurant.cuisineType}"></span><br>
                        <span>Status: </span><span th:text="${restaurant.restaurantStatus.displayValue}"></span><br>

                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).ACTIVE}"
                              th:action="${'/blckRest/' + restaurant.id}" method="get">
                            <input type="submit" class="btn btn-danger" value="Usuń">
                        </form>

                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).OFF}"
                              th:action="${'/unblckRest/' + restaurant.id}">
                            <input type="submit" class="btn btn-success" value="Odblokuj">
                        </form>

                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).ACTIVE}"
                              th:action="${'/addPromotion/' + restaurant.id}">
                            <input type="submit" class="btn btn-primary" value="Dodaj promocję">
                        </form>

                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).ACTIVE}"
                              th:action="${'/deletePromotion/' + restaurant.id}">
                            <input type="submit" class="btn btn-primary" value="Usuń promocję">
                        </form>

                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).ACTIVE}"
                              th:action="${'/blockReservations/' + restaurant.id}">
                            <input type="submit" class="btn btn-primary" value="Zablokuj rezerwacje">
                        </form>
                        <form th:if="${restaurant.restaurantStatus == T(pl.camp.it.model.RestaurantStatus).ACTIVE}"
                              th:action="${'/unblockReservations/' + restaurant.id}">
                            <input type="submit" class="btn btn-primary" value="Odblokuj rezerwacje">
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation" th:if="${restaurantPage.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" >
                    <a class="page-link" th:href="@{/myRestaurants(size=${restaurantPage.size}, page=${previousPage})}">&laquo;</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{/myRestaurants(size=${restaurantPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber==restaurantPage.number + 1} ? active"></a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/myRestaurants(size=${restaurantPage.size}, page=${nextPage})}">&raquo;</a></li>
            </ul>
        </nav>
    </div>

</div>
<div th:replace="footer.html :: footer"></div>
</body>
</html>