<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div id="container">

    <div id="logo">

    </div>

    <div th:replace="fragments.html :: menu"></div>

    <div id="content">
        <form method="post">
        <div th:replace="datepicker.html :: datepicker"></div>
        <input type="number" placeholder="Ilość gości" name="guestsNumber">
        <input type="submit" value="Zarezerwuj">
        </form>
    </div>

</div>
<div th:replace="footer.html :: footer"></div>
</body>
</html>