<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Going2Eat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div th:replace="fragments.html :: menu"></div>

<div class="container">

    <div th:replace="logoFragment.html :: logo"></div>
    <h5 class ="alert alert-primary" th:if="${message}" th:text="${message}"></h5>
    <div id="content">
        <form method="post">
        <div th:replace="datepicker.html :: datepicker"></div>
        <input type="number" placeholder="Ilość gości" name="guestsNumber">
        <input type="text" class="textarea" placeholder="Uwagi"
               pattern="^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ0-9_@.\/#&*!+\-,\s]{5,150}$" name="comments">
        <input type="submit" class="btn btn-primary" value="Zarezerwuj">
        </form>
    </div>

</div>
<div th:replace="footer.html :: footer"></div>
</body>
</html>